#menu{
    height: 60px;
    background-color: #666;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li{
    list-style-type: none;
    float: left;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    font-family: 'Times New Roman', Times, serif;
}

#menu li a{
    text-decoration: none;
    color: #fff;

}
#menu li:Hover{
    background-color: #ccc;
}
