* {
    box-sizing: border-box;
  }

  body {
    margin: 90px;
    background-color: rgb(50, 1, 70);
    color: white;
    padding: 10px;
    border: 10px solid rgb(190, 37, 63);
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h5 {
    text-align: center;
  }
