* {
    box-sizing: border-box;
  }
  
  header {
    border: 1px  black;
    padding: 15px;
    background-color: pink;
  }
  body {
    margin: 0;
    background-color: black;
  }
  
  ul {
    list-style: none;
  }
  
  nav ul > li {
    display: inline;
    padding: 10px;
  }
  
  nav {
    border: 1px solid black;
  }
  
  aside {
    float: left;
    width: 30%;
    border: 1px solid black;
    height: 300px;
    background-color: pink;
  }
  aside ul > li {
    padding: 10px;
  }
  article {
    float: left;
    width: 70%;
    border: 1px solid black;
    padding: 1px;
    height: 300px;
    background-image: url("blackpink.jpeg");
    color: black;
    
  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    border: 1px solid black;
    padding: 14px;
    background-color: black;
    color: white;
  }
  @media (max-width: 600px) {
    aside,
    article {
      width: 100%;
      height: 100%;
    }
  }
  
  a:link {
    color: black;
    font-weight: bold;
    /* text-decoration: none; */
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  a:visited {
    color: blue;
  }
  a:hover {
    color: red;
  }