*{
    box-sizing: border-box;
}

header{
    border: 1px solid black;
    padding: 30px;
}

body{
    margin : 0;
}

ul{
    list-style-type: none;
}

/* untuk penghilang titik list */
nav ul>li{
    display: inline;
    padding: 10px;
}

nav{
    border: 1px solid black;
}

aside{
    float: left;
    border: 1px solid black;
    width: 20%;
    height: 300px;
}

aside ul>li{
    padding: 10px;
}

article{
    float: left; 
    border: 1px solid black;
    width: 80%;
    height: 300px;
    padding: 10px;
}

section::after{
    content: "";
    clear: both;
    display: table;
}

footer{
    border: 1px solid black;
    padding: 30px;
}
@media (max-width:600px){
    aside, article{
    width: 100%;
    height: 100%;
}
}

a:link{
    color: green;
    background: pink;
    font-weight: bold ;
    text-decoration: none;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

a:visited{
    color: green;
}

a:hover{
    color: red;
}