*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("voting.png");
}
.wrapper{
    background: gray;
    color: white;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    padding: 25px;
}
.wrapper header{
    font-size: 22px;
    font-weight: 600;
}
.wrapper .poll-area{
    margin: 20px 0 15px 0;
}
