#Container {
    width: 1200px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin: top 11px;
    margin-bottom:21px;
}
/* #Atas{
    margin:0;
    height:auto;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.Ataskiri{
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.Ataskiri div:first-child{
    margin: 0;
}
.Ataskiri div:last-child{
    height: auto;
    margin-left: 10px;
}
.Ataskanan{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.Ataskanan div:first-letter{
    display: flex;
    margin-right:10px;
}
.Ataskanan div:first-child{
    margin-right: 10px;
} */
/* #Header {
    height: 200px;
    background-color: black;
    text-align: center;
} */
#SideBar{
    margin:0;
    height:auto;
    background-color:#f3f3f3;
    padding: 50px;
    display: flex;
    /* justify-content: space-between; */
}
/* .SideBar div{
    display: flex;
    margin-left: 300px;
} */
body {
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin: top auto;
    margin-bottom:auto;
  }
/* .SideBar ul{
    display: flex;
    margin-left: 30px;
} */

/* #MainBody {
    width: 1200px;
    height: 1000px;
    background-color:#f1faee;
} */
#Footer{
    margin:0;
    height:auto;
    background-color:#9b59b6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footerkiri {
    display: flex;
    margin-left: 10px; 
    /* height: auto; */
    align-items: center;
}
.footerkiri div:first-child{
    margin-right:20px;
    /* margin-left: 20px;  */
}

/* .footerkanan{
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}  */
/* .footerkanan div:first-letter{
    display: flex;
    margin-right:10px;
} 
 .footerkanan div:first-child{
    margin-right: 10px;
}   */