*{
    box-sizing: border-box;
}

header{
    border: 1px solid white;
    padding: 2px;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

body{
    margin : 0;
}

ul{
    list-style-type: none;
}

/* untuk penghilang titik list */
nav ul>li{
    display: inline;
    padding: 10px;
}

nav{
    border: 1px solid white;
    background-color: gray;
}

aside{
    float: left;
    border: 1px solid white;
    width: 20%;
    height: 300px;
    background-color: black;
}

aside ul>li{
    padding: 10px;
}

article{
    float: left; 
    border: 1px solid white;
    width: 80%;
    height: 300px;
    padding: 10px;
    color: white;
    background-color: black;
}

section::after{
    content: "";
    clear: both;
    display: table;
}

footer{
    border: 1px solid white;
    padding: 20px;
    background-color: black;
    color: white;
}
@media (max-width:600px){
    aside, article{
    width: 100%;
    height: 100%;
}
}

a:link{
    color: yellow;
    font-weight: bold ;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

a:visited{
    color: white;
}

a:hover{
    color: red;
}