body{
    margin: 100;
    font-family: 'Poppins', sans-serif;
}

.white-shade{
    background: #F6F7F8;
}

.secondary-text{
    color: blue;
}

.dark {
    background-color: #333333
}
.dark-shade {
    background-color: #222222;
}


.hero-container{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 4em 2em;
}


/*Customizing Content Section*/
.container > h2{
    margin-bottom: 0;
}
.container > p{
    max-width: 600px;
    margin: 8px auto;
    margin-bottom: 16px;
}

.h2-divider{
    margin: 0 auto;
    width: 200px;
    height: 8px;
    background: #F2A443;
    border-radius: 6px;
}

/*Flexing Grid System*/
.row{
    display: flex;
}

.col{
    flex: 1;
    margin: 16px;
}

/* Hero Section */
.hero {
    background-color: #EA873F;
    background-image: url('exo.jpg');
    background-size: cover;
    background-position: center;
}

ul.navigation {
    justify-content: flex-start;    
    list-style: none;
    margin: 0;
}

ul.navigation li {
    margin-right: .85em;
}

ul.navigation li a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 0 1em;
    border-radius: 6px;
    transition: .2s all;
}

ul.navigation li:not(:first-of-type) {
    line-height: 40px;
}

ul.navigation li:not(:first-of-type):hover a {
    color: #222222;
    background: #fff;
}

.hero-content {
    padding-top: 3em;
}

.hero-content h1 {
    margin-top: 0;
    margin-bottom: -10px;
    line-height: 1.3;
    font-size: 3.75em;
    font-weight: 700;
    color: #fff;
}

.hero-content h5 {
    font-size: 1.15em;
    font-weight: 300;
    color: #fff;
}

.hero-content .hero-image {
    margin-bottom: 0;
    position: relative;
}
.hero-content img {
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.hero-content a {
    display: inline-block;
    padding: 12px 30px;
    color: #F2A443;
    background: #fff;
    font-weight: 400;
    font-size: 1.25em;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, .1);
    margin-bottom: 2em;
}


/*Customizing Service Grid*/
.service-grid > h3{
    margin-bottom: 0px;
}

/*Customizing Testimonials Card*/
.card{
    background: white;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.1);
}

.card > img {
    width: 100%;
}

.card > p {
    text-align: center;
    text-justify: auto;
    padding: 16px;
}

/* footer */
footer {
    color: #fff;
}

footer img.logo {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

footer > p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 13px;
}

footer .row {
    justify-content: center;
}

footer .row .col {
    flex: none;
    margin: 0 8px;
}

footer .social img {
    max-width: 32px;
    max-height: 32px;
}

footer .copyright {
    padding: .85em;
}

footer .copyright p {
    margin: 0;
    text-align: center;
    font-size: 13px;
}