h1{
    color:white;
    border: 5px solid black;
    /* padding: 40px; */
    text-shadow: 2px 10px 1px black;
    font-family: 'Caveat', cursive;
}
p{
    color:bisque;
    font-size: 100%;
    background-color: black;
    border: 5px solid greenyellow;
    /* padding: 40px; */
    /* margin: 100px; */
    border-radius: 40px; 
    text-shadow: 2px 2px 2px red ;
}
body {
    background-color: blueviolet;
}