#Container {
    width:1200px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin: top 11px;
    margin-bottom:21px;
}
#Atas{
    margin:0;
    height:auto;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.Ataskiri{
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.Ataskiri div:first-child{
    margin: 0;
}
.Ataskiri div:last-child{
    height: auto;
    margin-left: 10px;
}
.Ataskanan{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.Ataskanan div:first-letter{
    display: flex;
    margin-right:10px;
}
.Ataskanan div:first-child{
    margin-right: 10px;
}
#Header {
    height: 200px;
    background-color: black;
    text-align: center;
}
#SideBar{
    width: 1200px;
    height:500px;
    background-color: #f1faee;
    text-align: center;
}
body {
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin: top auto;
    margin-bottom:auto;
    background-image: url('download.jpg');
  }
#SideBar ul{
    list-style-type: none;
    padding: 0;
}
#MainBody {
    width: 1200px;
    height: 1000px;
    background-color:#f1faee;
}
#Footer{
    margin:0;
    height:auto;
    background-color:rgb(45, 41, 41);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footerkiri {
    display: flex;
    margin-left: 30px;
}
.footerkiri div:first-child{
    margin-right:90px;
}
