* {
  box-sizing: border-box;
}

header {
  border: 1px dashed red;
  padding: 30px;
}
body {
  margin: 0;
}

ul {
  list-style: none;
}

nav ul > li {
  display: inline;
  padding: 10px;
}

nav {
  border: 1px solid black;
}

aside {
  float: left;
  width: 20%;
  border: 1px solid black;
  height: 300px;
}
aside ul > li {
  padding: 10px;
}
article {
  float: left;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  height: 300px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  border: 1px solid black;
  padding: 30px;
}
@media (max-width: 600px) {
  aside,
  article {
    width: 100%;
    height: 100%;
  }
}

a:link {
  color: rgb(0, 149, 255);
  font-weight: bold;
  text-decoration: none;
  background: #ccc;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
a:visited {
  color: rgb(0, 149, 255);
}
a:hover {
  color: red;
}

